# 1

In [28]:
import pandas as pd
import numpy as np

df = pd.read_csv('G:\Documents\education_analytic\питон для аналитиков\kc-house-data.csv', sep=',')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

# 2

In [13]:
df.shape

(21613, 21)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [16]:
df.describe(include=['object', 'float'])

,date,price,bathrooms,floors,lat,long
count,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000
unique,372,NaN,NaN,NaN,NaN,NaN
top,20140623T000000,NaN,NaN,NaN,NaN,NaN
freq,142,NaN,NaN,NaN,NaN,NaN
mean,NaN,5.400881e+05,2.114757,1.494309,47.560053,-122.213896
std,NaN,3.671272e+05,0.770163,0.539989,0.138564,0.140828
min,NaN,7.500000e+04,0.000000,1.000000,47.155900,-122.519000
25%,NaN,3.219500e+05,1.750000,1.000000,47.471000,-122.328000
50%,NaN,4.500000e+05,2.250000,1.500000,47.571800,-122.230000
75%,NaN,6.450000e+05,2.500000,2.000000,47.678000,-122.125000
max,NaN,7.700000e+06,8.000000,3.500000,47.777600,-121.315000

In [17]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

#### Выводы:
Таблица содержит в основном числовые данные (типы int64, float64).Тип данных object представлен только в столбце date.
В таблице отсутствуют пропущенные значения, т.к. количество строк равно колечеству непропущенных значений.

# 3

## 3.1

In [19]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

## 3.2

In [22]:
df['sqft_living'].mean() / df['sqft_lot'].mean() * 100

13.76781757959227

## 3.3

In [25]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

## 3.4

In [27]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

## 3.5

In [32]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

# 4

## 4.1

In [36]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

## 4.2

In [39]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

## 4.3

In [55]:
df[(df['yr_renovated'] != 0)].shape[0]

914

In [56]:
sum(df[df['yr_renovated'] != 0]['yr_renovated'].value_counts())

914

## 4.4

In [62]:
a = df[df['grade'] > 10]['price'].mean() 
b = df[df['grade'] < 4]['price'].mean()
d = a - b
d

1488885.1175298805

# 5

## 5.1

In [64]:
df[(df['waterfront'] == 1) & (df['bathrooms'] > 3) & (df['sqft_basement'] != 0)].shape[0]

36

## 5.2

In [66]:
a = df[((df['view'] == 4) | (df['waterfront'] == 1)) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]
a['price'].min(), a['price'].max()

(1295000.0, 3000000.0)

## 5.3

In [67]:
b = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
b['condition'].mean()

2.8333333333333335